{
  "version": "__VERSION__",
  "description": "Cross-platform daemon: now playing to Discord Rich Presence",
  "homepage": "https://github.com/vincenzomaritato/presence-bridge",
  "license": "Apache-2.0",
  "url": "https://github.com/vincenzomaritato/presence-bridge/releases/download/v__VERSION__/presence-bridge-windows-x86_64.zip",
  "hash": "__SHA256__",
  "bin": "presence-bridge.exe",
  "checkver": {
    "github": "https://github.com/vincenzomaritato/presence-bridge"
  },
  "autoupdate": {
    "url": "https://github.com/vincenzomaritato/presence-bridge/releases/download/v$version/presence-bridge-windows-x86_64.zip"
  }
}
